body {
    margin: 0;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: white;
}

h1 {
    color: white;
    font-size: 2em;
}

#board {
    margin: 0;
    height: 390px;
    width: 390px;
    font-size: 5em;
    color: black;
}

#main {
    height: 700px;
    width: 420px;
}